
.images img {
    max-width: 100%;
    height: auto;
}


.images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}


@media (min-width: 600px) {
    .images { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 1024px) {
    .images { grid-template-columns: 1fr 1fr 1fr; }
}

.hover {
  padding: 10px;         
  background: #5F9EA0;   
  color: white;           
  border: none;           

}

.hover:hover {
  background: #008B8B; 
  transform: scale(3.3); 
}

.card {
  background: #eee;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
