
.images img {
    max-width: 100%;
    height: auto;
}


.images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}


@media (min-width: 600px) {
    .images { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 1024px) {
    .images { grid-template-columns: 1fr 1fr 1fr; }
}

.hover-btn {
  padding: 15px;
  background: #4CAF50;
  border: none;
  color: #fff;
  transition: 0.3s;
}
.hover-btn:hover {
  transform: scale(1.1);
  background: #3b9a40;
}
